@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Acme&family=Monoton&family=Shrikhand&family=Ultra&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  height: calc(4vw + 20px);
  width: 100vw;
  background-image: url("../images/floral.jpg");
  background-position: cover;
  background-size: 100%;
  border-bottom: 2px solid rgba(170, 139, 118, 0.836);
  filter: brightness(120%);
  display: flex;
  justify-content: space-around;
  align-content: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.navbar-toggler {
  width: 100px;
  height: 30px;
  padding: 0 2px 0 7px;
  background: url("../images/paper.jpg");
  visibility: hidden;
  position: absolute;
  top: calc(20px + 4vw);
  left: 0;
  font-family: "Acme", sans-serif;
  font-size: 2rem;
  color: #d37139;
  z-index: 3;
  border-radius: 0 0 200px 10px;
  display: flex;
  justify-content: flex-start;
  transition: color 0.15s ease-in-out, box-shadow 0.25s ease-in-out;
}

.navbar-toggler:hover {
  color: #ff8843;
  box-shadow: 2px 2px 5px 1px #333;
}

.band-background .navbar-toggler {
  top: 0;
}

.band-background ul,
.news-background ul {
  align-items: center;
}

h1 {
  color: #b61313;
  font-family: "Monoton", cursive;
  font-weight: bold;
  font-size: calc(11vw / 3 + 13px);
  word-spacing: 15px;
  text-shadow: 2px 2px 6px #ff8843, 2px 2px 7px #d2eb45;
  transition: transform 0.8s cubic-bezier(0.42, 0.37, 0.31, 1.3),
    text-shadow 0.8s cubic-bezier(0.42, 0.37, 0.31, 1.3);
}

a:hover h1 {
  transform: scale(1.02);
  text-shadow: 2px 2px 10px #ff8843, 2px 2px 12px #d2eb45;
}

.nav-link {
  font-family: "Acme", sans-serif;
  font-size: 2rem;
  color: #ff8843;
}

.nav-link:hover {
  color: #d37139;
}

.navlink {
  padding: 0;
  margin: 0;
  width: 120px;
  height: 30px;
  background: url("../images/paper.jpg");
  background-size: 100%;
  box-shadow: 0px 0px 10px 1px #333;
  align-self: flex-end;
  border-radius: 10px 200px 0 0;
  filter: brightness(90%);
  font-family: "Acme", sans-serif;
  color: #b45b0d;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  transition: color 0.15s ease-in-out, box-shadow 0.25s ease-in-out;
}

.navlink:hover {
  color: #dc6b0b;
  box-shadow: 0px 0px 10px 3px #333;
}

.index-background {
  background: url("../images/recordonpaper.jpg") no-repeat center top;
  width: 100vw;
  height: calc(100vh - (4vw + 20px));
  background-size: 1440px;
  padding-top: 30vh;
  position: relative;
}

.band-background {
  background: url("../images/stage.jpg") no-repeat center top;
  background-color: #927e60;
  background-blend-mode: multiply;
  background-size: 1450px 100%;
  height: calc(100vh - (4vw + 20px));
  position: relative;
  overflow: hidden;
}

.events-background {
  background: url("../images/sleeve2.jpg"),
    url("../images/galaxy-map.png") no-repeat center top;
  background-blend-mode: multiply;
  background-size: 1450px 100%;
  height: calc(100vh - (4vw + 20px));
  padding: 4vh 5vw;
  text-align: center;
}

.news-background {
  background: url("../images/record-shop.jpg") no-repeat scroll center top
    transparent;
  background-color: rgb(226, 201, 153);
  background-blend-mode: screen;
  object-fit: cover;
  height: calc(2400px - 86vw);
  overflow: hidden;
  padding: 4vh 4vw;
}

.booking-background {
  background: url("../images/record-shop.jpg") no-repeat scroll center top
    transparent;
  background-color: #a58048;
  background-blend-mode: screen;
  background-size: 1500px 900px;
  height: calc(100vh - (4vw + 20px));
  padding: 4vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.news-heading {
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  height: 20vh;
}

.events-background > h2 {
  font-family: "Ultra", cursive;
  font-weight: lighter;
  font-size: 5rem;
  color: #ffb691;
  text-shadow: 0px 1px 5px #491212, 0px 1px 6px #b61313, 0px 1px 7px #eb9545,
    0px 1px 8px #c98c32, 0px 1px 9px #e9e62d, 0px 1px 10px #9eeb45,
    0px 1px 11px #3fe41f, 0px 1px 13px #45ebd5, 0px 1px 15px #2e3ae4,
    0px 1px 17px #d426e4, 0px 1px 19px #e96262;
  /* -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
}

.report-container {
  display: flex;
  height: calc(720px - 33vw);
  justify-content: space-between;
  width: 90vw;
  align-self: flex-start;
}

.covid-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.news-background h2 {
  font-family: "Ultra", cursive;
  font-weight: lighter;
  font-size: 5rem;
  color: #dc6b0b;
  text-shadow: 0px 1px 5px #491212, 0px 1px 6px #b61313, 0px 1px 7px #eb9545,
    0px 1px 8px #c98c32, 0px 1px 9px #e9e62d, 0px 1px 10px #9eeb45,
    0px 1px 11px #3fe41f, 0px 1px 13px #45ebd5, 0px 1px 15px #2e3ae4,
    0px 1px 17px #d426e4, 0px 1px 19px #e96262;
}

/* Events */

.col-12 h2 {
  justify-content: center;
  text-align: center;
  align-content: center;
  font-family: "Bungee", cursive;
  font-size: 3rem;
  font-weight: normal;
  color: #ffbed1;
  text-shadow: 1px 1px 3px #241106, 1px 1px 7px #9b45eb;
}

.row-margin {
  margin-top: 1vw;
}

.usa-col,
.eu-col,
.asia-col {
  margin-bottom: 35px;
}

.usa,
.eu,
.asia {
  border-radius: 15px;
  background: white;
  height: 3rem;
  border: 1px solid #472803;
  opacity: 70%;
  text-align: center;
  font-family: 'Acme', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

/* Home Background */

.menu-item {
  display: inline-block;
  margin: 0 2vw 190px 8vw;
  position: relative;
}

.band-menu-item {
}

.events-menu-item {
  top: -100px;
}

.news-menu-item {
  top: -100px;
}

.booking-menu-item {
}

.record {
  height: 187px;
  width: 187px;
  border-radius: 50%;
  transform: translateY(0%);
  opacity: 0%;
  transition: box-shadow 700ms cubic-bezier(0.42, 0.37, 0.31, 1.3),
    opacity ease-in-out 700ms,
    transform 700ms cubic-bezier(0.42, 0.37, 0.31, 1.3);
  position: absolute;
  top: 5px;
}

.band-record {
  background: url("../images/band-record.jpg") no-repeat -75px -18px;
  background-size: 325px 220px;
}

.events-record {
  background: url("../images/events-record.jpg") no-repeat center;
  background-size: 193px 193px;
}

.news-record {
  background: url("../images/news-record.jpg") no-repeat center;
  background-size: 192px 192px;
}

.booking-record {
  background: url("../images/bookings-record.jpg") no-repeat center;
  background-size: 205px 204px;
}

/* Menu Sleeves */

.sleeve {
  background: url("../images/sleeve.jpg") no-repeat center center;
  background-size: 190px 195px;
  height: 195px;
  width: 190px;
  filter: brightness(90%);
  box-shadow: 10px 5px 20px 30px rgba(36, 30, 15, 0.25);
  opacity: 99%;
  text-align: center;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.sleeve h2 {
  font-family: "Shrikhand", cursive;
  color: rgb(189, 150, 99);
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px #472803, 2px 2px 2px #f18e8e, 4px 4px 4px #ffd89d,
    8px 8px 8px #b3ffb0, 12px 12px 12px #dfafff;
}

.band-sleeve {
  padding: 37px 0px;
  transform: rotate(-1deg);
}

.events-sleeve {
  padding: 70px 0px;
  transform: rotate(-1deg);
}

.news-sleeve {
  padding: 70px 0px;
  transform: rotate(1deg);
}

.booking-sleeve {
  padding: 70px 0px;
  transform: rotate(1deg);
}

a:hover + .record {
  transform: translateY(60%);
  box-shadow: 0px 0px 40px 20px rgba(255, 255, 255, 0.25);
  opacity: 100%;
}

a:hover .sleeve {
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out;
}

/*  News */

.reporter {
  width: calc(4vw + 145px);
  height: calc(4vw + 145px);
  border-radius: 50%;
  margin: 4px;
}

.tim-moc {
  background: url("../images/male-reporter.jpg") no-repeat center center;
  background-size: 140%;
  align-self: flex-start;
}

.report {
  background: #333;
  opacity: 50%;
  width: 70vw;
  height: calc(660px - 30vw);
  border-radius: 20px;
  padding: 1vw;
  color: white;
  font-size: 1.7rem;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.report p:nth-child(2) {
    position: absolute;
    bottom: 3px;
    right: 3px;
}

.esa-eler-report {
  align-self: flex-end;
}

.esa-eler {
  background: url("../images/female-reporter.jpg") no-repeat center center;
  background-size: 140%;
  align-self: flex-end;
}

.covid {
  margin: 4vw;
  background: rgb(231, 177, 59);
  padding: 2vw;
  opacity: 50%;
  width: 70vw;
  height: 40vh;
  border-radius: 10px;
  align-self: center;
  text-align: center;
  font-size: 1.5rem;
}

.covid h3 {
  font-family: "Acme", sans-serif;
  bottom: 20px;
}

/* Booking */

.form-container {
  height: 45vh;
  width: 50%;
  border-radius: 25px;
  background: rgb(255, 254, 254);
  opacity: 70%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-container h2,
.social-container h3 {
  font-family: "Ultra", sans-serif;
  text-align: center;
}

.social-container {
  height: 25vh;
  width: 70vw;
  border-radius: 25px;
  background: rgb(255, 254, 254);
  opacity: 70%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  width: 80%;
  display: flex;
}

form label {
  font-family: "Ultra", sans-serif;
  align-self: flex-start;
}

.input-field {
  width: 100%;
  height: 4vh;
  border: 1px solid rgba(167, 75, 21, 0.849);
  margin-bottom: 1vh;
  padding-left: 1vh;
  border-radius: 5px;
}

.submit-button {
  width: 50%;
  height: 20%;
  border-radius: 6px;
  background-color: rgb(206, 29, 29);
  cursor: pointer;
  margin: 4% 25%;
}

input[type="submit"]:hover {
  background-color: rgb(204, 82, 82);
}

.social-links {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.social-link {
  color: #7f5e45;
}

/* Band Members */

.band-container {
  width: 100vw;
  height: 60vh;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.gloria,
.stevie,
.donna {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  cursor: help;
}

.gloria::before,
.stevie::before,
.donna::before {
  text-align: center;
  color: #ff8843;
  text-shadow: 0px 1px 5px #491212, 0px 1px 6px #b61313, 0px 1px 7px #eb9545,
    0px 1px 8px #c98c32, 0px 1px 9px #e9e62d, 0px 1px 10px #9eeb45,
    0px 1px 11px #3fe41f, 0px 1px 12px #45ebd5, 0px 1px 13px #2e3ae4,
    0px 1px 14px #d426e4, 0px 1px 15px #e96262;
  font-family: "Ultra", serif;
  position: absolute;
  width: 100%;
  height: 20%;
}

.gloria {
  background: url("../images/gloria.jpg") no-repeat -155px -25px;
  background-size: 600px 380px;
  position: relative;
  transition: transform 0.4s ease-in-out 0.3s;
}

.gloria::before {
  content: "Gloria";
  font-size: 3rem;
  top: -3rem;
}

.stevie {
  background: url("../images/stevie.jpg") no-repeat center;
  background-size: 240px 240px;
  align-self: flex-start;
  position: relative;
  transition: transform 0.4s ease-in-out 0.3s;
}

.stevie::before {
  content: "Stevie";
  font-size: 60px;
  top: 10rem;
  right: 15px;
}

.donna {
  background: url("../images/donna.jpg") no-repeat center;
  background-color: #aaa;
  background-blend-mode: multiply;
  background-size: 200px 285px;
  position: relative;
  transition: transform 0.4s ease-in-out 0.3s;
}

.donna::before {
  content: "Donna";
  font-size: 3rem;
  top: -3rem;
}

/* Band Member Info */

.info {
  height: 44vh;
  width: 48vw;
  border-radius: 15px;
  padding: 0 15px;
  bottom: -170px;
  background: url("../images/typewriter.jpg");
  background-color: #666;
  background-blend-mode: multiply;
  background-size: cover;
  box-shadow: 0px 1px 5px #491212, 0px 1px 6px #b61313, 0px 1px 7px #eb9545,
    0px 1px 8px #c98c32, 0px 1px 9px #e9e62d, 0px 1px 10px #9eeb45,
    0px 1px 14px #3fe41f;
  position: absolute;
  align-self: flex-end;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: scale(0);
  color: #ddd;
  font-family: "Acme", serif;
  z-index: 1;
  overflow: hidden;
}

.info h2 {
  font-size: 3rem;
  padding: 1rem;
}

.info p {
  font-size: 2rem;
}

.gloria-info {
  transform-origin: top left;
}

.stevie-info {
  transform-origin: top;
}

.donna-info {
  transform-origin: top right;
}

/* The Band Hover Effects */

.gloria:hover ~ .gloria-info {
  opacity: 98%;
  transform: scale(1);
  transform-origin: top left;
  transition: opacity 0.3s ease-in-out 0.2s, transform 0.3s ease-in-out 0.2s;
}

.gloria:hover {
  transform: scale(1.2);
  transition: transform 0.4s ease-in-out;
}

.stevie:hover ~ .stevie-info {
  opacity: 98%;
  transform: scale(1);
  transform-origin: top;
  transition: opacity 0.3s ease-in-out 0.2s, transform 0.3s ease-in-out 0.2s;
}

.stevie:hover {
  transform: scale(1.2);
  transition: transform 0.4s ease-in-out;
}

.donna:hover ~ .donna-info {
  opacity: 98%;
  transform: scale(1);
  transform-origin: top right;
  transition: opacity 0.3s ease-in-out 0.2s, transform 0.3s ease-in-out 0.2s;
}

.donna:hover {
  transform: scale(1.2);
  transition: transform 0.4s ease-in-out;
}

@media only screen and (max-width: 1199px) {
  /* header */

  .navlink {
    visibility: hidden;
    position: absolute;
  }

  header {
    position: relative;
    text-align: center;
    align-items: center;
    height: ;
  }

  .navbar-toggler {
    visibility: visible;
  }

  h1 {
    /* position: absolute; */
  }

  /* index.html */

  .menu-item {
    margin: 0 0 150px calc(31vw - 98px);
  }

  .band-menu-item {
    /* margin: 0 calc(33vw - 98px) 150px; */
  }

  .events-menu-item {
    top: 0;
    /* margin: 0 calc(33vw - 98px) 150px 0; */
  }

  .news-menu-item {
    top: 0;
    /* margin: 0 calc(33vw - 98px) 150px; */
  }

  .booking-menu-item {
    /* margin: 0 calc(33vw - 98px) 150px 0; */
  }

  .index-background {
    height: calc(130vh - (3vw + 35px));
    padding-top: 15vh;
  }

  .band-sleeve {
    transform: rotate(-1deg);
  }

  .events-sleeve {
    transform: rotate(1deg);
  }

  .news-sleeve {
    transform: rotate(1deg);
  }

  .booking-sleeve {
    transform: rotate(-1deg);
  }

  /* band.html */

  .band-background {
    background-size: auto 100%;
    height: calc(2700px - 50vw);
  }

  .band-container {
    flex-direction: column;
    justify-content: space-around;
    height: calc(2700px - 50vw);
  }

  .stevie {
    align-self: center;
    order: -2;
  }

  .stevie::before {
    top: -3rem;
  }

  .info {
    width: 70vw;
    height: calc(640px - 28vw);
    bottom: 0;
    align-self: center;
    opacity: 100%;
    transform: scale(1);
    position: relative;
    margin: 30px 2vw auto 2vw;
  }

  .stevie-info {
    order: -1;
  }

  /* events.html */

  .events-background {
    height: 220vh;
    background-size: 3000px 100%;
  }

  /* news.html */

  .news-background {
    background-size: auto calc(2400px - 86vw);
    height: calc(2400px - 86vw);
    padding: 0;
  }

  .tim-moc,
  .esa-eler {
      background-size: 180%;
  }

  .report-container {
    height: calc(700px - 33vw);
    width: 100%;
  }

  .report {
    margin: 10px 0 20px;
    height: calc(630px - 32vw);
    width: 100%;
  }

  .covid {
    height: calc(920px - 50vw);
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  /* index.html */

  .index-background {
    height: calc(260vh - (3vw + 35px));
    padding-top: 4vh;
  }

  .menu-item {
    margin: 0 calc(50vw - 98px) 150px;
  }

  /* band.html */

  .band-background {
    background-size: auto 100%;
    height: calc(3200px - 50vw);
  }

  .band-container {
    flex-direction: column;
    justify-content: space-around;
    height: calc(3200px - 50vw);
  }

  .info {
    width: 97vw;
    height: calc(680px - 30vw);
    padding: 0;
  }

  /* Events.html */

  .events-background {
    height: 280vh;
    overflow: hidden;
  }

  .events-background h2 {
    font-size: 4rem;
  }

  /* news.html */

  .news-background {
    background-size: auto calc(3000px - 88vw);
    height: calc(2900px - 88vw);
    padding: 5vh 0;
  }

  .report-container {
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }

  .esa-eler,
  .tim-moc,
  .esa-eler-report,
  .tim-moc-report {
    align-self: center;
  }

  .esa-eler {
    order: -1;
  }

  .report-container {
    height: calc(940px - 37vw);
  }

  .report {
    height: calc(750px - 42vw);
  }

  .covid {
    height: calc(920px - 60vw);
  }

  /* booking.html */

  .booking-background {
    height: 130vh;
  }

  .form-container {
    height: 70vh;
    width: 100%;
    overflow: hidden;
  }

  .social-container {
    height: 40vh;
  }

  .social-links {
    padding: 0 15%;
  }
}
