@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-image: url("../images/paper.jpg");
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.header {
  margin: 0;
  border: 0;
  height: 80px;
  width: 100%;
  background-image: url("../images/floral.jpg");
  background-position: cover;
  background-size: 100%;
  border-bottom: 2px solid rgba(170, 139, 118, 0.836);
  filter: brightness(120%)
}

h1 {
  text-align: center;
  color: #b61313;
  font-family: "Monoton", cursive;
  font-weight: bold;
  font-size: 70px;
  word-spacing: 15px;
  text-shadow: 2px 2px 6px #ff8843, 2px 2px 7px #d2eb45;
}

.vinyl-container {
  width: 1300px;
  height: 1300px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 50px;
  box-shadow: 10px 17px 10px 30px rgba(36, 30, 15, 0.25);
}

.vinyl {
  background: url("../images/vinyl.jpg") no-repeat;
  background-size: 120%;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.hole {
  top: 641px;
  left: 612px;
  background: url("../images/paper.jpg") no-repeat;
  background-position: center;
  height: 31px;
  width: 29px;
  border-radius: 50%;
  position: absolute;
  filter: brightness(80%);
}

.band-sleeve {
    background: url("../images/sleeve.jpg");
    height: 150px;
    width: 150px;
    /* margin: 0% 0%; */
    position: absolute;
    transform: rotate(-5deg);
    z-index: 2;
    filter: brightness(102%);
    box-shadow: 10px 5px 8px 2px rgba(36, 30, 15, 0.25);
}

.events-sleeve {
    background: url("../images/sleeve.jpg");
    height: 150px;
    width: 150px;
    margin: 0% 0% 0% 30%;
    position: absolute;
    transform: rotate(1deg);
    z-index: 2;
    filter: brightness(102%);
    box-shadow: 10px 5px 8px 2px rgba(36, 30, 15, 0.25);
}

.news-sleeve {
    background: url("../images/sleeve.jpg");
    height: 150px;
    width: 150px;
    margin: 0% 0% 0% 60%;
    position: absolute;
    transform: rotate(2deg);
    z-index: 2;
    filter: brightness(102%);
    box-shadow: 10px 5px 8px 2px rgba(36, 30, 15, 0.25);
}

.bookings-sleeve {
    background: url("../images/sleeve.jpg");
    height: 150px;
    width: 150px;
    margin: 0% 0% 0% 90%;
    position: absolute;
    transform: rotate(-1deg);
    z-index: 2;
    filter: brightness(102%);
    box-shadow: 10px 5px 8px 2px rgba(36, 30, 15, 0.25);
}